{% extends 'base.html' %} {% block content %}
<!-- Header -->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shopping Cart</h1>
      <p class="lead fw-normal text-white-50 mb-0">View Your Cart</p>
    </div>
  </div>
</header>
<br />
<!-- Section-->
<div class="container">
  {% if cart_products %} {% for product in cart_products %}
  <br />
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ product.image.url }}"
          class="img-fluid rounded-start"
          alt="Book-Image"
          style="height: 100%"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="text-align: start">
            {{ product.name }}
          </h5>
          <p class="card-text" style="text-align: start">
            {{ product.description }}
          </p>
          {% if product.is_sale %}
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Sale
          </div>
          <div
            class="d-flex justify-content-start small text-warning mb-2"
            style="text-align: start"
          >
            <div class="bi-star-fill"></div>
            &nbsp;&nbsp;Sale!&nbsp;&nbsp;
            <div class="bi-star-fill"></div>
          </div>
          <!-- Product price for sale-->
          <strike> R {{ product.price }} </strike>
          &nbsp; R {{ product.sale_price }} {% elif product.is_fifty_off %}
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            50% OFF
          </div>
          <div class="d-flex justify-content-start small text-warning mb-2">
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            &nbsp;&nbsp;50% OFF!&nbsp;&nbsp;
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
          </div>
          <!-- Product price for 50% off-->
          <strike> R {{ product.price }} </strike>
          &nbsp; R {{ product.half_price }} {% else %} R {{ product.price }} 
          {% endif %} <br> <br>
          <div class="row justify-content-start">
            <div class="col-md-2">Qty:</div>
            <div class="col-md-4">
              <select class="form-select form-select-sm" id="select{{ product.id }}">
                  {% for key, value in quantities.items  %}
                    {% if key == product.id|slugify %}
                    <option selected> {{ value }} </option>
                    {% endif %}
                  {% endfor %}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
        </div>
        </div>
        <div class="btn m-1 Wrap">
          <a href="{% url 'home' %}" class="btn btn-secondary" title="View Home Page">Home</a>
          <button type="button" data-index="{{product.id}}"
          class="btn btn-secondary update-cart" title="Update Quantity">
          Update
          </button>
          <button type="button" data-index="{{product.id}}"
          class="btn btn-danger delete-product" title="Delete Item">
          Remove
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% else %} <center> <div class="card border border-warning" style="max-width: 400px; padding: 2rem;">
    <h3 style="padding-bottom: 1rem;">Your Cart is empty...</h3><center><a href="{% url 'home' %}" class="btn btn-warning" style="width: 60%;" title="View Home Page">Continue Shopping</a></center>
  </div> </center>
  {% endif %}
</div>
<br />
<br />

<script>
    // Cart Update 
    $(document).on("click", ".update-cart", function(ev) {
    ev.preventDefault();
    // Grab the product id.
    var productid = $(this).data("index");

    $.ajax({
      type: "POST",
      url: "{% url 'cart_update' %}",
      data: {
        product_id: $(this).data("index"),
        product_qty: $("#select" + productid + " option:selected").text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function(json) {
        // console.log(json);
        // let cartQty = document.getElementById("cart_quantity");
        // cartQty.textContent = json.qty;
        location.reload();
      },
      error: function(xhr, errmsg, err) {},
    });
  });

  // Delete from Update 
  $(document).on("click", ".delete-product", function(ev) {
    ev.preventDefault();
    // Grab the product id.
    // var productid = $(this).data("index");

    $.ajax({
      type: "POST",
      url: "{% url 'cart_delete' %}",
      data: {
        product_id: $(this).data("index"),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function(json) {
        // console.log(json);
        // let cartQty = document.getElementById("cart_quantity");
        // cartQty.textContent = json.qty;
        location.reload();
      },
      error: function(xhr, errmsg, err) {},
    });
  });
</script>

{% endblock %}