{% extends 'base.html' %} {% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us...</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome To Django Ecommerce
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p align="justify">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus commodi sed exercitationem unde at, quam reprehenderit
          quisquam totam facilis nobis reiciendis ea officia quasi omnis maxime
          delectus debitis molestias quo temporibus impedit? Vitae odit
          voluptas, ut esse qui reprehenderit culpa tempore quisquam porro
          tenetur sed distinctio nobis corrupti veritatis praesentium delectus
          quam consectetur explicabo beatae! Deleniti ratione atque libero,
          voluptate rem aspernatur repellat esse sit. Dolor possimus quia modi,
          reiciendis iure, tempora ullam commodi nihil illo natus laudantium!
          Eius, at corporis laborum voluptatum consequuntur reiciendis odit
          accusantium sunt delectus. Beatae nesciunt voluptates perferendis
          laudantium blanditiis!
        </p>
        <p align="justify">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
          aspernatur expedita ipsam voluptate excepturi saepe quis laboriosam
          itaque autem? Recusandae fuga animi a ab dolorum. Consequuntur
          distinctio optio quasi mollitia at nostrum natus aperiam sit ab, quis
          tenetur, minima non ipsum quod quibusdam fuga quae dolore dicta ut
          velit tempore.
        </p>
        <p align="justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
          tempore veritatis facilis illo quaerat, molestias hic modi! Deleniti
          quasi dicta aperiam recusandae illum saepe perspiciatis sequi commodi
          molestiae sint impedit possimus rem sit, rerum deserunt minima in ut
          accusamus! Aliquid dolores assumenda est doloribus veniam consequatur
          dolorem corporis ipsam voluptates quis? Quis nesciunt deserunt itaque,
          ex ipsa illum magni est, laboriosam, sapiente adipisci placeat
          quisquam. Atque natus inventore quaerat deleniti, quia quae officiis!
          Quam laboriosam veniam molestiae! Tempora, aliquid dicta.
        </p>
        <p align="justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
          repellendus minima obcaecati nobis, dicta a praesentium deserunt
          labore. Eligendi harum amet nihil! Doloremque dolorum vero molestiae
          labore repellat. Harum quae fugit ea esse alias cum fuga dolorem
          molestias quaerat corporis quod itaque optio maxime tempore,
          praesentium aut libero, enim officiis voluptatem? Vero, fugit. Atque
          possimus dolores fugiat harum beatae. Incidunt odio quia facilis
          obcaecati animi rem nihil harum quis ratione!
        </p>
        <p align="justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non
          perferendis aliquam. Perferendis dolores rerum laudantium ut tempore
          atque quod natus, dolore blanditiis corrupti repellat illo odio ad
          impedit quae incidunt repellendus velit est iusto dolorem quis
          possimus soluta illum. Quasi quas quibusdam architecto illum
          repellendus doloremque officiis assumenda voluptas non dolorum
          temporibus fuga commodi qui, sed repellat labore, aspernatur ipsum
          praesentium, molestiae accusamus. Vero!
        </p>
      </div>
    </center>
  </div>
</div>

{% endblock %}
