{% extends 'base.html' %} {% block content %}
<!-- Header -->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Product Details</h1>
      <p class="lead fw-normal text-white-50 mb-0">Summary of your Product Details </p>
    </div>
  </div>
</header>
<center>
  <div class="container">
    <br /><br /><br />

    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ product.image.url }}"
            class="img-fluid rounded-start"
            alt="Book-Image"
            style="height: 100%"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" style="text-align: start">
              {{ product.name }}
            </h5>
            <p class="card-text" style="text-align: start">
              {{ product.description }}
            </p>
            {% if product.is_sale %}
            <div
              class="badge bg-dark text-white position-absolute"
              style="top: 0.5rem; right: 0.5rem"
            >
              Sale
            </div>
            <div
              class="d-flex justify-content-start small text-warning mb-2"
              style="text-align: start"
            >
              <div class="bi-star-fill"></div>
              &nbsp;&nbsp;Sale!&nbsp;&nbsp;
              <div class="bi-star-fill"></div>
            </div>

            <!-- Product price-->
            <div class="price" style="text-align: start">
              <strike> R {{ product.price }} </strike>
              &nbsp; R {{ product.sale_price }} 
            <br> <br> 
            <div class="row justify-content-start">
              <div class="col-md-2">Qty:</div>
              <div class="col-md-4">
                <select class="form-select form-select-sm" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
          </div>

            </div>
          </div>

          {% elif product.is_fifty_off %}
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            50% OFF
          </div>
          <div class="d-flex justify-content-start small text-warning mb-2">
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            &nbsp;&nbsp;50% OFF!&nbsp;&nbsp;
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
          </div>

          <!-- Product price-->
          <div class="price" style="text-align: start">
            <strike> R {{ product.price}} </strike>
            &nbsp; R {{ product.half_price}} 
            <br> <br> 
            <div class="row justify-content-start">
              <div class="col-md-2">Qty:</div>
              <div class="col-md-4">
                <select class="form-select form-select-sm" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
          </div>
          </div>
        </div>

        {% else %}
        <div class="price" style="text-align: start;">R {{ product.price }} 
        <br> <br> 
        <div class="row justify-content-start">
          <div class="col-md-2">Qty:</div>
          <div class="col-md-4">
            <select class="form-select form-select-sm" id="qty-cart">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
      </div>
      </div>
        <br />
        {% endif %}
        <div class="btn" style="display: flex; gap: 0.5rem; position: relative; left: 1%;">
          <a href="{% url 'home' %}" class="btn btn-secondary ml-5" title="View Home Page">Home</a>
          <button
            class="btn btn-secondary mx-0"
            type="button"
            value="{{ product.id }}"
            id="add-cart"
          title="Add Item To Your Cart">
            Add To Cart
          </button>
        </div>

        <br />
      </div>
    </div>
  </div>
</center>
<br /><br /><br />

<script>
  // Check if button is clicked
  $(document).on("click", "#add-cart", function (ev) {
    ev.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cart_add'%}",
      data: {
        product_id: $("#add-cart").val(),
        product_qty: $("#qty-cart option:selected").text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        // console.log(json);
        let cartQty = document.getElementById("cart_quantity");
        cartQty.textContent = json.qty;
      },
      error: (xhr, errmsg, err) => {},
    });
  });
</script>

{% endblock %}
